* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.text {
  font-size: 22px;
}
.btn{
  padding: 7px 12px;
  background-color: aquamarine;
  border-radius: 6px;
  border: none;
  font-size: 15px;
}
.card{
  height: 65vh;
  width: 22vw;
  background-color: beige;
  border-radius: 20px;
}
.card-text{
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 29vh;

}
