*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-direction: column;
}
.section{
    width: 100%;
    max-width: 320px;
    height: 95vh;
    border-radius: 10px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    /* -webkit-overflow-scrolling: touch; */
    margin: 0 auto;
}

/* hide scrollbar but keep scrolling */


.section::-webkit-scrollbar{ display: none; } /* Chrome, Safari, Opera */
.reel{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    display: block;
    margin: 30px 0;
}
.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bottom .user{
    position: absolute;
    bottom: 14%;
    left: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 5px;
    cursor: pointer;
    z-index: 2;
}
.user img{
    width: 25px;
    border-radius: 50px;
    height: 25px;
    border: 1px solid white;
}
.user h4{
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
}
.user button{
    padding: 2px 7px;
    font-weight: 300;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.caption{
    position: absolute;
    bottom: 5%;
    left: 10px;
    right: 90px;
    color: white;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}
.bottom .right{
    position: absolute;
    bottom: 12%;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    color: white;
    z-index: 2;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.icon i{
    font-size: 18px;
    font-weight: 500;
}
.icon h4{
    font-size: 12px;
    margin-top: 2px;
}