* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile{
  background-color: white;
  height: 95vh;
  width: 25vw;
  border-radius: 20px;
  overflow: hidden;
}
.form-container{
  background-color: hsl(0, 0%, 100%);
  /* padding: 10px; */
  border-bottom: 1px solid grey;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    padding-top: 20px;
}
.form-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.form-inputs{
  font-size: 15px;
  background-color: rgba(200, 196, 196, 0.363);
  border-radius: 20px ;
  padding: 5px 10px;
  border: 1.5px solid black;
}
.form-btn{
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(134, 233, 134);
}
.form-btn:active{
  scale: 0.9;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.list{
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid grey;
  width: 25vw;
  gap: 5px;
  padding: 5px 5px;
}
.profile{
  height: 30px;
  width: 30px;
  background-color: grey;
  border-radius: 50%;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: opx 5px;
}
.details h3{
  font-size: 17px;
}
.details p{
  font-size: 14px;
}
