*{
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    margin: 50px;
    border-radius: 10px;
    border: 2px solid white;
}

button{
    background-color: red;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}

button:active{
    background-color: aqua;
    color: black;
    scale: 0.90;
}