*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: grey; */
}

.card{
    background-color: grey;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.card div{
    /* padding: 10px; */
    /* background-color: antiquewhite; */
    position: relative;
    overflow: hidden;
}
.card img{
    width: 200px;
    border-radius: 15px;
}

.card h2{
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 80px;
    background: linear-gradient(115deg, rgb(243, 4, 243),rgb(255, 115, 0));
    -webkit-background-: text;
    color: transparent;
    background-clip: text;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    /* scale: 0; */
}