* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  background-color: aqua;
  width: 150px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  color: white;
  justify-content: center;
  margin: 5px;
}