*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: crimson;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    height: 400px;
    width: 250px;
    background-color: grey;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.card h2{
    font-size: 26px;
    white-space: nowrap;
}
.card h3{
    font-size: 18px;
    white-space: nowrap;
    color: crimson;
    margin: 10px 0;
}

.card p{
    font-size: 14px;
    font-style: italic;
}