* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.notes{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note{
  width: 300px;
  height: 80px;
  margin: .5rem;
  padding: 1rem;
  background-color: gray;
  color: white;
  border-radius: 1rem;
}