*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 100vh; */
    background-color: #f0f0f0;
    cursor: none;
}

main{
    height: 300%;
    width: 100%;
}

#cursor{
    position: fixed;
    width: 20px;
    border-radius: 50px;
    border: 1.5px solid black;
    height: 20px;
    background-color: transparent;
    transform: translate(-50%, -50%);
    z-index: 99;
    position: absolute;
    /* transition: all 0.1s ease-in-out; */
}
h1{
    text-align: center;
    /* transition: all 0.1s ease-in-out; */
    margin: 50px;
}