*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}

/* Navbar Styling */

.navbar{
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  /* color: white; */
  padding: 0 25px;
  border-bottom: 1px  solid black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo-name{
  font-style: italic;
  font-size: 20px;
}
.nav-links{
  font-size: 16px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
#glass{
  padding: 4px 16px;
  background-color: whitesmoke;
  border-radius: 50px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}
#glass:hover{
  transition: all 0.2s ease-in-out;
  background-color: white;
  text-decoration: underline;
}
.book-btn{
  padding: 8px 16px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* End of Navbar Styling */

/* section2 styling  */
.section2{
  padding: 20px;
}

.outer{
  background-image: url('./assets/playing\ tennis.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.sec1{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  width: 600px;
  margin-top: 50px;

}
.btn button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
}
.sec2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside1, .aside2{
  display: flex;
  margin: 20px;

}
.aside1{
  gap: 5px;
  width: 300px;
}
.stats{
  display: flex;
  align-items: center;
  gap: 5px; 
  background-color: rgba(38, 38, 38, 0.615);
  border-radius: 50px;
  padding: 2px 10px;
}
.stats li{
  height: 25px;
  width: 25px;
  border-radius: 50px;
  border: 0.5px solid white;
  list-style-type: none;
  background-color: rgba(95, 95, 95, 0.555);
}

.aside2{
  gap: 20px;
  list-style-type: none;
  cursor: pointer;
}
.aside2 li:hover{
  text-decoration: underline;
}