*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}

/* Navbar Styling */

.navbar{
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  /* color: white; */
  padding: 0 25px;
  border-bottom: 1px  solid black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo-name{
  font-style: italic;
  font-size: 20px;
}
.nav-links{
  font-size: 16px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
#glass{
  padding: 4px 16px;
  background-color: whitesmoke;
  border-radius: 50px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}
#glass:hover{
  background-color: white;
}
.book-btn{
  padding: 8px 16px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* End of Navbar Styling */

