*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}
body {
    background: black;
    /* overflow: hidden; */
    /* color: #00ff00; */
    font-family: 'Courier New', Courier, monospace;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1{
    color: green;
    font-size: 35px;
}
h2{
    color: red;
}