/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    color: black;
    padding: 5px 20px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav-list{
    display: flex;
    gap: 15px;
}

.nav-list li{
  list-style-type: none;
    padding: 4px 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93.5vh;
  background-color: rgb(0, 0, 0);
  color: white;
}
.btn-container button{
  padding: 7px 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: aquamarine;
  position: relative;
  z-index: 2;
}
.container h2{
  position: absolute;
  top: 20px;
  left: 10px;;
  z-index: 1;
}