*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.box{
    width: 300px;
    height: 400px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(220, 39, 118);
    padding-inline: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.907)) padding-box,
    conic-gradient(from var(--rotate),black, #fd388d, black) border-box;
    border: 5px solid transparent;
    animation: rotate 5s infinite linear;
}
@keyframes rotate {
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
    
}
.box img{
    width: 250px;
}
.box h1{
    font-size: 25px;
    font-weight: 500;
}
.box h2{
    font-weight: 500;
    text-align: center;
    font-size: 17px;
}