* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
}

.box {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.box:hover{
    anchor-name: --some-anchor; 
}

.red{
    background-color: rgb(142, 16, 16); 
}
.blue{
    background-color: rgb(17, 17, 97);
}   
.green{
    background-color: rgb(13, 80, 13);
}


.anchor{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top:anchor(top);
    left:anchor(left);
    bottom: anchor(bottom);
    right:anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}